$border-gray: #bbbbbb;
$dark-blue: #13405d;
$light-blue: #bddcf0;
$text-blue: #3b93cf;
$color-main: #bdc3c7;
$color-inner: #ecf0f1;
$color-text:#2c3e50;
$color-link:black;


$ease-in-out: cubic-bezier(.01,.75,.96,.6);
